# Production overrides
replicaCount: 5

image:
  tag: "stable"
  pullPolicy: Always

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: "1"
    memory: 512Mi

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 50
  targetCPUUtilizationPercentage: 60
  targetMemoryUtilizationPercentage: 70

config:
  ENVIRONMENT: "production"
  POSTGRES_SSL_MODE: "require"
